/** Navigation Bar Section     **/


#Navbar {
    display: flex;
    justify-content: center;
    width: 100vw;

    position: absolute;
    background: white;
}

#Navbar .Container {
    display: flex;
    width: 90%;
    padding: 25px 30px;
    justify-content: space-between;
}

#Navbar img {
    width: 10vw;
}

#Navbar .second {
    display: flex;
}

.sticky {
    position:fixed !important;
    background: white !important;
    transform: translate(0px, -5px);
}


#Navbar .second h2 {
    margin-right: 15px;
    margin-left: 15px;
}

/** Home Screen Section **/

#Home {
    padding: 10px 100px 10px 100px;
    margin-top: 150px;
}

#Home .Container {
    display: flex;
   
    justify-content: space-around;
}

#Home img {
    width: 35vw;
}

#Home .hero {
   display: flex;

}

.about {
    width: 50vw;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-webkit-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-moz-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
}

#Home .description {
    height: 100%;
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
}

#Home .content {
    height: 25vh;
    background-image: url("../assets/wave.svg");
    background: red;
}

.card-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 4px solid black;
    border-radius: 25px;
    box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-webkit-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-moz-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
    width: 18vw;
    background: white;
    padding:15px;
    height: 75vh;
    text-align: justify;
    margin: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Container-produk {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
}

.Variant {
    display: flex;
    flex-direction: column;
}

.main-button {
    border: 3px solid black;
    border-radius: 10px;
    width: 10vw;
    color: black;
    text-align: center;
    background: #ECE22C;
    box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-webkit-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-moz-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
}

.main-button:hover {
    scale: 1.1;
}

.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
}

.contact-row {
    display: flex;
    justify-content: center;
}

.contact-card {
    border: 4px solid black;
    border-radius: 25px;
    box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-webkit-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
-moz-box-shadow: -1px 10px 0px -6px rgba(0,0,0,1);
    padding: 15px;
    margin-right:25px ;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-nav {
    display: none;
}



.highlight {
    color: #ECE22C;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

@media (max-width: 800px) {
    body { 
        width: 100vw; 
        overflow-x: hidden;
    }

    #Navbar img {
        width: 35vw;
    }

    #Navbar {
        width: 100vw;
    }

    #Navbar .Container {
        justify-content: space-between;
        width: 100vw;
        display: none;
    }

    #Navbar .second h2 {
        margin: 0px 10px 0px 10px;
    }

    #Navbar .burger-nav {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        padding: 20px;
    }

    .burger-nav .side-bar {
        background: white;
        position: absolute;
        width: 100vw;
        height: 120vh;
        transform: translate(370px,0px);
        transition: 0.5ms;
        transition-delay: 0.2s;
        transition-duration: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-nav .side-bar-show {
      background: #ECE22C;
        position: absolute;
        width: 100vw;
        height: 120vh;
        transform: translate(0px,0px);
        transition: 0.5ms;
        transition-delay: 0.2s;
        transition-duration: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   .exit {
        width: 80%;
    }

   .side-list {
        width: 80%;
    }

    .burger {
        margin-top: 13px;
    }

    .burger .stripe {
        width: 50px;
        height: 5px;
        background: #ECE22C;
        margin: 5px 0px;
        border: 2px solid black;
        border-radius: 15px;
    }

    #Home {
        width: 100%;
        padding: 0px;
    }

    #Home .Container {
        flex-direction: column-reverse;
        width: 100vw;
        margin: 0;
        display: flex;
        align-items: center;
    }

    #Home .hero {
        display: flex;
        justify-content: center;
    }

    #Home .description {
        width: 80vw;
        text-align: justify;
        align-items: center;
    }

    #Home .hero img {
        width: 80vw;
    }

    .main-button {
        width: 60vw;
    }

    .about {
        width: 80vw;
        padding: 20px;
    }

    /** product */
    .card-row {
        flex-direction: column;
    }

    .card {
        width: 70vw;
        margin-top: 25px;
        height: fit-content;
    }

    .contact-row {
        flex-direction: column;
    }

    .contact-card {
        margin-top: 25px;
    }
}